canvas {
  width:100%;
  height:100%;
  image-rendering:optimizeSpeed;
  image-rendering:crisp-edges;
  image-rendering:-moz-crisp-edges;
  image-rendering:-o-crisp-edges;
  image-rendering:pixelated;
  -ms-interpolation-mode:nearest-neighbor
}
