::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1A2125; 
}
 
::-webkit-scrollbar-thumb {
  background: #445661; 
}

::-webkit-scrollbar-thumb:hover {
  background: #59717F; 
}

div, table {
  scrollbar-width: thin;
  scrollbar-color: #445661 #1A2125;
}
